div h1{
    background-color: black;
    color: purple;
    text-align: center;
    font-family: Cyber;
}


.coid{
    background-color: black;
}

.col-md-8{
    color: purple;
    font-size: 25px;
    font-family: Cyber;
}

.col-md-4{
    color: purple;
    font-size: 25px;
    font-family: Cyber;
}
@font-face{
    font-family: Cyber;
    src: url(../Font/Minecraft.ttf);
}
.carousel-caption.d-none.d-md-block{
     font-family: Cyber;
}